html, body {
  background-color: #fafafa;
  color: #fff;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rf-new-post-notification {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.rf-vertical-center {
  display: flex;
  align-items: center;
}

.rf-timestamp {
  margin-left: 24px;
}

a {
  text-decoration: none;
  transition: all .6s ease 0s;
  
  &:hover {
    opacity: .6;
    color: #b1afaf;
    cursor: pointer;
  }
}

.card {
  &.horizontal {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-image {
    width: 160px;
    padding: 20px;
  }

  .card-expand {
    padding-left: 184px;
  }

  .card-meta {
    color: #000;
    font-weight: 300;
  }

  .card-author {
    color: #ef8361;
  }

  .card-title-text a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }

  .card-expand {
    width: 100%;
    height: auto;
  }

  .chip-list {
    display: flex;
  }
  
  .chip {
    margin: 10px 0px 10px 12px;    
  }

  .action {
    margin-right: 12px;
    a {
      color: #ff8a65;
    }
  }
  
  i {
    &.right {
      margin-left: 4px;
    }
  }
}

.pagination {
  display: flex;
  color: #000;

  .previous {
    align-content: flex-start;
  }

  .next {
    align-content: flex-end;
  }

  .middle {
    margin: 0 auto;
  }
}

.progress-container h4 {
  color: #9ea1a8;
  font-weight: 800;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.iframe-responsive iframe {
  max-width: 100%;
}

.input-field {
  color: #9e9e9e;
}

.text-right {
  text-align: right;
}

.container {
  .row {
    padding-top: 20px;

    a {
      display: inline-flex;
      padding: 0 20px;
      
      i {
        margin-right: 6px;
      }
    }
  }
}
